<ion-header *ngIf="ActiveUser" class="ion-no-border">
  <header class="flex p-4 items-center justify-between">
    <div class="flex items-center">
      <img src="../../assets/patient-1.png" class="w-10 h-10 rounded-full" />
      <h3 class="text-sm m-0 ml-2">
        <span class="text-xs">Welcome</span>,<br />
        <span><b> {{ActiveUser?.AccountName}}</b> ({{ActiveUser?.role}})</span>
      </h3>
    </div>
    <div>
      <ion-icon class="text-lg" name="notifications-outline"></ion-icon>
    </div>
  </header>
</ion-header>

<ion-content style="margin-top: 10px">
  <ion-refresher
    spellcheck="z-index:9999"
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="p-4 mt-5">
    <div class="flex flex-col items-center">
      <img src="../../assets/patient-1.png" width="100px" />
      <h5 class="text-sm mt-2 font-bold">Dr. John Doe</h5>
    </div>

    <div class="p-4 bg-gray-100 -mt-20 pt-24 rounded-xl space-y-3">
      <div class="flex flex-col border-b-2 border-gray-200 pb-2">
        <span class="text-xs">Contact</span>
        <span class="text-sm font-bold"> {{ActiveUser?.mobile}}</span>
      </div>
      <div class="flex flex-col">
        <span class="text-xs">Email</span>
        <span class="text-sm font-bold"> {{ActiveUser?.email}}</span>
      </div>
    </div>
  </section>

  <div class="px-4">
    <ion-button
      size="medium"
      expand="block"
      mode="ios"
      color="primary"
      (click)="LogOut()"
    >
      <span class="text-sm"> LogOut</span>
    </ion-button>
  </div>

  <!-- <div style="padding: 25px;">
    <h3 style="color: #fff;">Activity - Notifications</h3>
    <ion-card style="background-color: #353767; margin: 15px 0px;" *ngFor="let notif of notifications; let i =index">
      <div class="leftborder"></div>
      <ion-card-content>
        <div>
          <p style="font-size: 14px; color: #fff;">{{notif}} </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div> -->
</ion-content>
