<ion-header class="ion-no-border">
  <header class="flex p-4 items-center justify-between">
    <div>
      <ion-icon
        sstyle="font-size: 1.2em;"
        (click)="closeModalNodata()"
        name="chevron-back-outline"
      >
        <ion-ripple-effect></ion-ripple-effect>
      </ion-icon>
    </div>
    <div class="text-center flex-1">
      <h3 class="text-lg m-0">Prescribed Games</h3>
    </div>
    <div>
      <ion-icon class="text-lg" name="notifications-outline"></ion-icon>
    </div>
  </header>
</ion-header>

<ion-content>
  <section class="p-4">
    <div class="bg-gray-100 rounded-lg p-3 my-2">
      <div>
        <h5 class="m-0 text-sm">Popping Bubble</h5>
        <p class="text-xs my-2 text-gray-700">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text.
        </p>
        <div
          class="flex items-center justify-between"
          *ngFor="let rating of ratings; let i = index"
        >
          <div class="flex items-center">
            <span class="w-4 h-4 bg-gray-300 rounded-sm mr-1"></span>
            <h6 class="m-0 text-xs font-normal">{{ rating?.name }}</h6>
          </div>
          <div class="flex">
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center text-xs text-gray-500">
      Or
    </div>

    <div class="bg-gray-100 rounded-lg p-3 my-2">
      <div>
        <h5 class="m-0 text-sm">Popping Bubble</h5>
        <p class="text-xs my-2 text-gray-700">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text.
        </p>
        <div
          class="flex items-center justify-between"
          *ngFor="let rating of ratings; let i = index"
        >
          <div class="flex items-center">
            <span class="w-4 h-4 bg-gray-300 rounded-sm mr-1"></span>
            <h6 class="m-0 text-xs font-normal">{{ rating?.name }}</h6>
          </div>
          <div class="flex">
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
            <span>
              <ion-icon name="star" class="text-sm text-yellow-400 m-1"></ion-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
