<ion-header class="ion-no-border">
  <header class="flex p-4 items-center justify-between">
    <div>
      <ion-icon
        sstyle="font-size: 1.2em;"
        (click)="closeModalNodata()"
        name="chevron-back-outline"
      >
        <ion-ripple-effect></ion-ripple-effect>
      </ion-icon>
    </div>
    <div class="text-center flex-1">
      <h3 class="text-lg m-0">Prescribed Games</h3>
    </div>
    <div>
      <ion-icon class="text-lg" name="notifications-outline"></ion-icon>
    </div>
  </header>
</ion-header>
