<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <section class="wrapper">
    <div class="flex flex-col justify-center text-center">
      <h2 class="my-8 text-gray-700">Welcome</h2>
      <div class="w-96 flex justify-center">
        <img src="../../assets/icon/logo_oq.png" width="100px" />
      </div>
    </div>

    <div
      style="
        margin-top: 15%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
      "
    >
      <form
        #form="ngForm"
        (ngSubmit)="login(form)"
        style="padding: 5px; width: 85%"
      >
        <ion-input
          class="bg-white rounded-lg text-sm overflow-hidden mb-3"
          name="email"
          type="email"
          placeholder="Email"
          ngModel
          required
        >
        </ion-input>
        <ion-input
          class="bg-white rounded-lg text-sm overflow-hidden mb-3"
          name="password"
          type="password"
          placeholder="Password"
          ngModel
          required
        >
        </ion-input>
        <ion-button
          mode="ios"
          color="primary"
          size="medium"
          type="submit"
          [disabled]="form.invalid"
          expand="block"
          >Login
        </ion-button>
        <p class="my-5 text-center text-sm text-gray-700">
          Don't have an account ?
          <span>
            <a
              class="nav-item nav-link"
              routerLink="/register"
              style="text-decoration: none"
            >
              Sign Up</a
            ></span
          >
        </p>
      </form>
    </div>
  </section>
</ion-content>
