<ion-header *ngIf="ActiveUser" class="ion-no-border">
  <header class="flex p-4 items-center justify-between">
    <div class="flex items-center">
      <img src="../../assets/patient-1.png" class="w-10 h-10 rounded-full" />
      <h3 class="text-sm m-0 ml-2">
        <span class="text-xs">Welcome</span>,<br />
        <span><b> {{ActiveUser?.AccountName}}</b> ({{ActiveUser?.role}})</span>
      </h3>
    </div>
    <div>
      <ion-icon class="text-lg" name="notifications-outline"></ion-icon>
    </div>
  </header>
</ion-header>

<ion-content style="margin-top: 10px;">
  <ion-refresher
    spellcheck="z-index:9999"
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="addpc">
    <section class="p-4"     *ngIf="ActiveUser.role == 'Patient'">
      <div class="flex justify-between items-center mb-5">
        <h6 class="m-0 font-semibold flex items-center text-sm">
          <ion-icon name="calendar-outline" class="text-md mr-1"></ion-icon>
          Upcoming Appointments
        </h6>
        <ion-datetime
          (ionChange)="calcStartEndTime($event)"
          placeholder="View Calendar"
          [value]="td"
          class="rounded-full text-xs bg-blue-400 px-4 text-white"
        >
        </ion-datetime>
      </div>

      <div class="flex justify-between mb-4">
        <span
          class="bg-gray-300 w-10 h-10 text-xs rounded-md flex items-center justify-center"
          *ngFor="let dt of appointmentDateView; let i = index;"
          (click)="changeDate($event,dt,i);"
          [id]="i"
          >{{dt | date:'dd'}}</span
        >
      </div>

      <div
        *ngFor="let pat of appointmentList; let i =index"
        class="bg-gray-100 rounded-lg p-4 flex items-center mb-3 border-l-8 border-green-600"
        style="
          background: #f3f4f6 url(../../assets/doc-bg.png) no-repeat right
            bottom;
        "
      >
        <img
          class="w-10 h-10 rounded-full mr-3"
          src="../../assets/patient-{{i+1}}.png"
        />

        <div class="space-y-0">
          <h4 class="m-0 text-sm font-medium">Dr. {{pat.doctorName}}</h4>
          <p class="flex items-center space-x-1 text-sm text-opacity-75">
            <span> Physiotherapist </span>
          </p>

          <span class="space-x-2 flex">
            <p class="flex items-center space-x-1 text-xs text-opacity-75">
              <ion-icon name="calendar-outline"></ion-icon>
              <span> {{pat.appointmentDate}}</span>
            </p>
            <p class="flex items-center space-x-1 text-xs">
              <ion-icon name="time-outline"></ion-icon>
              <span> {{pat.appintmentTime}} </span>
            </p>
          </span>
        </div>
      </div>
    </section>
  </ng-container>

  <div *ngIf="addpc">
    <!-- <ion-card
      style="background-color: transparent; box-shadow: none"
      *ngIf="ActiveUser.role == 'Patient'"
    >
      <ion-card-content style="padding: 0; display: flex">
        <span style="width: 15%"></span>
        <ion-card class="patList" color="medium">
          <ion-card-content style="padding: 10px">
            <p style="font-size: 0.7em" color="medium-shade">
              Active Patients <br />
              <span color="dark" style="font-size: 2.5em; font-weight: bolder"
                >{{patientList?.length}}</span
              >
              <br />
              <span style="color: green"
                >5.25%
                <ion-icon style="font-size: 8px" name="triangle"></ion-icon
              ></span>
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card class="patList" color="medium">
          <ion-card-content style="padding: 10px">
            <p style="font-size: 0.7em" color="medium-shade">
              Total Patients <br />
              <span color="dark" style="font-size: 2.5em; font-weight: bolder"
                >{{patientList?.length}}</span
              >
              <br />
              <span style="color: green"
                >3.25%<ion-icon
                  style="font-size: 8px"
                  name="triangle"
                ></ion-icon
              ></span>
            </p>
          </ion-card-content>
        </ion-card>
        <span style="width: 15%"></span>
      </ion-card-content>
    </ion-card> -->

    <!-- <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px;
      "
    >
      <p style="padding: 0px 10px; font-size: 1em; font-weight: bold">
        Select Date
      </p>

      <ion-datetime
        (ionChange)="calcStartEndTime($event)"
        style="
          font-size: 10px;
          font-weight: bold;
          color: #fff;
          padding: 8px;
          background: var(--ion-color-tertiary);
          border-radius: 20px;
        "
        placeholder="View Calendar"
        [value]="td"
      >
      </ion-datetime>
    </div>
    <div class="topappoint">
      <span
        class="chdt"
        *ngFor="let dt of appointmentDateView; let i = index;"
        (click)="changeDate($event,dt,i);"
        [id]="i"
        >{{dt | date:'dd'}}</span
      >
    </div> -->

    <!-- <ion-card
      *ngFor="let pat of appointmentList; let i =index"
      color="medium"
      style="flex: 1; margin: 5px 10px 10px 10px"
    >
      <ion-card-content
        style="
          padding: 0px;
          border-left: 10px solid;
          border-color: var(--ion-color-danger-tint-two);
        "
      >
        <div class="cardcon">
          <img
            src="../../assets/patient-{{i+1}}.png"
            width="100px"
            style="border-radius: 50%; padding: 5%"
          />
          <div>
            <h2>{{pat.doctorName}}</h2>
            <span class="cardcon"> </span>
          </div>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: flex-start;
          "
        >
          <p style="text-align: center; font-size: 0.85em; margin: 5px 10px">
            <ion-icon name="calendar-outline"></ion-icon><br />
            {{pat.appointmentDate}}
          </p>
          <p style="text-align: center; font-size: 0.85em; margin: 5px 10px">
            <ion-icon name="time-outline"></ion-icon><br />
            {{pat.appintmentTime}}
          </p>
        </div>
      </ion-card-content>
    </ion-card> -->
  </div>

  <ion-fab *ngIf="addpc" slot="fixed" style="bottom: 20px; right: 15px">
    <ion-fab-button
      color="primary"
      style="
        width: 200px;
        height: 40px;
        --border-radius: 24px;
        --box-shadow: none;
      "
      (click)="addPat();"
    >
      <div class="flex items-center text-xs">
        <ion-icon name="medkit"></ion-icon
        ><span class="ml-1">Request appointment</span>
      </div>
    </ion-fab-button>
  </ion-fab>

  <ng-container *ngIf="!addpc">
    <section class="p-4">
      <h6 class="m-0 font-semibold flex items-center text-sm">
        <ion-icon name="calendar-outline" class="text-md mr-1"></ion-icon>
        Request Appointment
      </h6>

      <div class="bg-gray-100 rounded-lg p-3 my-3">
        <form #form="ngForm" (ngSubmit)="addAppointmentIn(form)">
          <div class="bg-gray-300 rounded-md px-2 mb-2">
            <ion-select
              class="text-xs px-0 flex-grow"
              placeholder="click Doctor"
              [(ngModel)]="selecteddoctor"
              multiple="false"
              cancelText="Cancel"
              okText="Okay"
              name="selecteddoctor"
              required
            >
              <ion-select-option
                *ngFor="let doc of doctorList; let i=index;"
                [value]="doc"
              >
                {{doc.doctorName}}
              </ion-select-option>
            </ion-select>
          </div>

          <div
            class="flex items-center justify-between bg-gray-300 rounded-md px-2 mb-2"
          >
            <ion-datetime
              class="text-xs px-0 flex-grow"
              displayFormat="MMM DD, YYYY"
              name="appointmentDate"
              [min]="min"
              max="2050-12-09"
              placeholder="{{today | date:'yyyy-MM-dd'}}"
              ngModel
              required
            >
            </ion-datetime>
            <ion-icon name="calendar" class="text-gray-400"></ion-icon>
          </div>

          <div *ngIf="selecteddoctor" class="flex flex-col my-5">
            <span class="text-xs font-bold">Selected Doctor</span>
            <span class="text-sm"> {{selecteddoctor?.doctorName}} </span>
          </div>

          <!-- <p style="display: block">Selected doctor</p>
          <div
            style="display: flex; align-items: center"
            *ngIf="selecteddoctor"
          >
            {{selecteddoctor?.doctorName}}
            <ion-input
              style="margin-bottom: 5px"
              name="selecteddoctor"
              type="text"
              ngModel
              [value]="selecteddoctor?.id"
            >
            </ion-input>
          </div> -->

          <div class="flex flex-col my-5">
            <span class="text-xs font-bold mb-3"
              >Choose one of available time slot</span
            >

            <div *ngIf="selecteddoctor" class="flex flex-wrap gap-2">
              <div
                *ngFor="let t of timeslot; let i=index;"
                class="bg-gray-300 p-1 px-5 flex-1 rounded-lg"
                [ngModel]="selection"
                name="appintmentTime"
                type="text"
                (click)="clickFunction($event, t,i)"
              >
                <span [class.highlight]="statusClass" class="text-xs">
                  {{t}}</span
                >
              </div>
            </div>
          </div>

          <div class="flex flex-col">
            <ion-button
              mode="ios"
              style="--box-shadow: none"
              color="primary"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              class="text-sm rounded-md"
              >Submit Appointment</ion-button
            >
            <ion-button
              mode="ios"
              style="--box-shadow: none"
              color="light"
              size="small"
              type="button"
              (click)="skip()"
              expand="block"
            >
              SKIP
            </ion-button>
          </div>
        </form>
      </div>
    </section>
  </ng-container>
</ion-content>
