<ion-header *ngIf="ActiveUser" class="ion-no-border">
  <header class="flex p-4 items-center justify-between">
    <div class="flex items-center">
      <img src="../../assets/patient-1.png" class="w-10 h-10 rounded-full" />
      <h3 class="text-sm m-0 ml-2">
        <span class="text-xs">Welcome</span>,<br />
        <span><b> {{ActiveUser?.AccountName}}</b> ({{ActiveUser?.role}})</span>
      </h3>
    </div>
    <div>
      <ion-icon class="text-lg" name="notifications-outline"></ion-icon>
    </div>
  </header>
</ion-header>

<ion-content style="margin-top: 10px">
  <ion-refresher spellcheck="z-index:9999" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="p-4">
    <h6 class="m-0 font-semibold flex items-center mb-4">
      <ion-icon name="layers-outline" class="text-lg mr-1"></ion-icon>
      Games
    </h6>

    <div class="bg-gray-100 rounded-md mb-3 p-3" (click)="onGameClick(item)" *ngFor="let item of gameList">
      <div class="flex items-center justify-between">
        <span class="text-sm"> {{item?.gameName}} </span>
        <span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </span>
      </div>
    </div>
  </section>
</ion-content>