ion-content.background {
    --background: url(../../assets/Landing-page.png) 0 0/100% 100% no-repeat;
    // background-size: contain; background-repeat: no-repeat;
}
div.formfields p{
    margin-bottom: 1px;
    margin-top: 7px;
}